<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input type="text" name="firstName" [(ngModel)]="contact.firstName"  placeholder="First Name" class="form-control" >
                    </div>
                    <div class="form-group">
                        <input type="text" name="lastName" [(ngModel)]="contact.lastName" placeholder="Last Name" class="form-control" >
                    </div>
                    <div class="form-group">
                        <input type="text" name="email" [(ngModel)]="contact.email" placeholder="Email" class="form-control" >
                    </div>
                    <div class="form-group">
                        <input type="text" name="phoneNumber" [(ngModel)]="contact.phoneNumber" placeholder="Phone Number" class="form-control">
                    </div>
                    <br>
                    <button class="btn btn-success margin-center" (click)="edit ? updateContact() : saveNewContact()">
                        Save Contact
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>